<template>
  <div id="app">
    <VApp>
      <VAppBar
        app
      >
        <a href="/" class="home-link">
          <VIcon
            v-text="'fas fa-film'"
          />
        </a>
        <VToolbarTitle class="ml-2">Application</VToolbarTitle>
        <VToolbarItems>
          <VToolbarTitle class="ml-2">
            <RouterLink :to="{name: 'part1'}">Part1(tasks)</RouterLink>
          </VToolbarTitle>
        </VToolbarItems>
      </VAppBar>
      <VContent>
        <VContainer fluid>
          <RouterView
            class="app-content"
          />
        </VContainer>
      </VContent>
    </VApp>
  </div>
</template>

<style>
.home-link {
  text-decoration: none
}
</style>
