<template>
  <div class="film-details">
    <div
      v-if="!film.isPending"
      class="film-content"
    >
      <VImg
        height="400px"
        :src="film.data.pictureLink"
      />
      <VCardTitle>{{film.data.name}}</VCardTitle>
      <VCardSubtitle>{{film.data.dateOfRelease | date}}</VCardSubtitle>
      <VCardText>{{film.data.description}}</VCardText>
    </div>
    <Loader v-else />
  </div>
</template>

<script>
import { filmsApi } from '@/api';
import fetchApiData from '@/helpers/fetchApiData';
import Loader from '@/components/Loader.vue';

export default {
  name: 'FilmView',
  components: {
    Loader,
  },
  data() {
    return {
      film: {
        isPending: false,
        data: null,
        error: null,
      },
    };
  },
  mounted() {
    filmsApi.getFilmShows({ id: this.$route.params.id });
    this.fetchData();
  },
  methods: {
    fetchData() {
      fetchApiData(this.film, filmsApi.getFilm, { id: this.$route.params.id });
    },
  },
};
</script>

<style scoped>
.film-content {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 4px;
  overflow: hidden;
}
</style>
