<template>
  <div class="home">
    <Shows :items="shows" />
    <div
      v-if="!films.isPending"
      class="films"
    >
      <Film
        v-for="(film, index) in films.data"
        :key="index"
        :film="film"
      />
    </div>
    <Loader v-else />
    <Tasks />
  </div>
</template>

<script>
import { filmsApi } from '@/api';
import fetchApiData from '@/helpers/fetchApiData';
import Shows from '@/components/Shows.vue';
import Film from '@/components/Film.vue';
import Loader from '@/components/Loader.vue';
import Tasks from '@/components/Tasks.vue';

export default {
  name: 'Home',
  components: {
    Shows,
    Film,
    Loader,
    Tasks,
  },
  data() {
    return {
      films: {
        isPending: false,
        data: [],
        error: null,
      },
      shows: [
        { name: 'test' },
        { name: 'test' },
        { name: 'test' },
        { name: 'test' },
      ],
    };
  },
  mounted() {
    this.fetchData();
    filmsApi.getFilmsShows();
  },
  methods: {
    fetchData() {
      fetchApiData(this.films, filmsApi.getFilms);
    },
  },
};
</script>

<style scoped>
.home {
  padding: 0 7.5px;
}
.films {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -7.5px;
}
.films > div {
  margin: 7.5px;
  width: calc(25% - 15px);
}
</style>
