<template>
  <VCard
    class="Film"
  >
    <VImg
      :src="film.pictureLink"
      height="400px"
    />
    <VCardTitle>
      {{film.name}}
    </VCardTitle>
    <VCardSubtitle>
      Release date: {{film.dateOfRelease | date}}
    </VCardSubtitle>
    <VCardActions>
      <VBtn
        :to="{name: 'film', params: {id: film._id}}"
        color="purple"
        text
      >
        Go to details
      </VBtn>
      <VSpacer />
      <VBtn
        icon
        @click="show = !show"
      >
        <VIcon>{{ show ? 'fas fa-chevron-up' : 'fas fa-chevron-down' }}</VIcon>
      </VBtn>
    </VCardActions>

    <VExpandTransition>
      <div v-show="show">
        <VDivider />
        <VCardText>
          {{film.description}}
        </VCardText>
      </div>
    </VExpandTransition>
  </VCard>
</template>

<script>

export default {
  name: 'Film',
  props: {
    film: {
      type: Object,
      default: () => {},
    },
    isPending: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      show: false,
    };
  },
};
</script>
