<template>
  <div class="Loader">
    <VProgressCircular
      color="primary"
      indeterminate
    />
  </div>
</template>

<script>
export default {
  name: 'Loader',
};
</script>

<style scoped>
.Loader {
  height: 100%;
  width: 100%;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
