<template>
  <div class="shows">

  </div>
</template>

<script>
export default {
  name: 'Shows',
  props: {
    items: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {

    };
  },
};
</script>;
