<template>
  <div>
    <div>{{task1}}</div>
    <div>{{task2}}</div>
    <div>Task 3
      <div>
        <p
          v-if="Number(localStorageValue)"
          :class="{'red-text': localStorageValue % 2 !== 0}"
          class="green-text"
        >
          Paragraph for local storage value: <b>{{localStorageValue}}</b>
        </p>
        <VTextField
          v-model.number="input"
          type="number"
          solo
        />
        <VBtn
          color="primary"
          :disabled="Number(input)"
          @click="onSubmit"
        >
          Submit
        </VBtn>
        <VBtn
          color="error"
          @click="onClear"
        >
          Clear
        </VBtn>
      </div>
    </div>
  </div>
</template>

<script>
import getMostFreqChar from '@/helpers/getMostFreqChar';
import getQueryParams from '@/helpers/getQueryParams';

export default {
  name: 'Tasks',
  data() {
    return {
      input: '',
      localStorageValue: localStorage.getItem('num23'),
    };
  },
  computed: {
    task1() {
      return getMostFreqChar('teeeeestttttttttttt');
    },
    task2() {
      return getQueryParams('http://localhost:63342/test/index.html?em=world&ew=book');
    },
  },
  methods: {
    onSubmit() {
      localStorage.setItem('num23', this.input);
    },
    onClear() {
      this.input = '';
      localStorage.removeItem('num23');
    },
  },
};
</script>

<style scoped>
.green-text {
  color: green;
}
.red-text {
  color: red;
}
</style>;
